body {
    font-family: sans-serif;
    background-color: #FFF3D0;
    text-align: center;
}

h1 {
    padding-top: 5rem;
    font-size: 3rem;
}

img {
    vertical-align: middle;
    width: 100px;
}

p {
    color: 777;
}

#disqus_thread {
    margin: 2rem auto;
    max-width: 600px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 98%;
  text-align: center;
  padding: 6px;
}
footer > a {
  color: black;
}
